:root {
  --main-header-text-color: #212121;
  --main-p-text-color: #757575;
  --main-box-background-color: #2f303a;
  --aceent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: var(--main-p-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
}

/* reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* utils */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: red 1px solid; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
}

.header-nav-link,
.contacts-link {
  position: relative;
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  color: var(--main-p-text-color);
  display: flex;
  align-items: center;
}

.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.accent,
.current {
  color: var(--aceent-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  margin-right: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.current:after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--aceent-color);
  position: absolute;
  bottom: -1px;
}

/* INDEX PAGE */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/index-photo/Img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  background-color: var(--aceent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.benefits-icon-background {
  height: 120px;
  background-color: #f5f4fa;
  background-size: cover;
  margin-bottom: 30px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-title {
  display: none;
}

.benefits-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.benefits-paragraph {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-p-text-color);
  margin-top: 10px;
  margin-bottom: 0px;
}

.benefits-list {
  display: flex;
}

.benefits-block {
  margin-right: 30px;
  width: 270px;
}

.benefits-block:last-child {
  margin-right: 0px;
}


/* work */

.work {
  padding-top: 0;
}

.work-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--main-header-text-color);
}

.work-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.work-img img {
  display: block;
}

.work-description {
  position: relative;
}

.work-description-title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 23px 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}


/* team */

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--aceent-color);
  color: var(--primary-white-color);
}

.team-list {
  width: 270px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f5f4fa;
}

.team-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-item {
  display: flex;
  justify-content: space-between;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-header-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-name {
  text-decoration: none;
  color: var(--main-header-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.team-job {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-p-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 16px;
}


/* clients */
.clients-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-header-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list {
  display: flex;
}

.clients-item-logo {
  fill: currentColor;
}

.clients-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover,
.clients-item-link:focus {
  fill: #afb1b8;
  color: var(--aceent-color);
  border: 1px var(--aceent-color) solid;
}


/* PORTFOLIO PAGE */
/* Buttom  */
.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list:not(:last-child) {
  display: flex;
  justify-content: center;
  margin-right: 8px;
}

.button-item {
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-header-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  background: var(--aceent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
}

.button-item.active {
  background-color: var(--aceent-color);
  color: var(--primary-white-color);
}

/* Portfolio main content  */
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-block {
  margin-bottom: 30px;
}

.portfolio-block:nth-child(7) {
  margin-bottom: 0px;
}

.portfolio-block:nth-child(8) {
  margin-bottom: 0px;
}

.portfolio-block:nth-child(9) {
  margin-bottom: 0px;
}

.portfolio-link {
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box img {
  display: block;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-text-owerlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 63px 24px;
  transition: 250ms;
}

.portfolio-link:hover .portfolio-text-owerlay {
  transform: translateY(-100%);
}

.portfolio-frame {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-name {
  color: var(--main-header-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 0px;
  color: var(--main-p-text-color);
}


/* FOOTER SECTION  */
.footer {
  background-color: var(--main-box-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--primary-white-color);
}

.footer-address {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-contacts-item {
  display: block;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item:not(:last-child) {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container .footer-contacts-block {
  margin-right: 70px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--aceent-color);
}


.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--aceent-color);
}

.footer-social-icon {
  fill: var(--primary-white-color);
}

.footer-social-block {
  margin-right: 93px;
}

.footer-subscribe-wrapper {
  display: flex;
  /* position: relative; */
  align-items: flex-end;
}

.footer-subscribe-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: #fff;
  background: var(--main-box-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-subscribe-button {
  padding: 10px 62px 10px 29px;
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--aceent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe-icon {
fill: var(--primary-white-color);
position: absolute;
top: 50%;
right: 28px;
transform: translateY(-50%);
}

.subscribe-email {
  display: block;
  cursor: pointer;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}


/* modal  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 528px;
  /* min-height: 581px; */
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* max-height: 581px;
  overflow-y: auto; */
}

.button-close-window {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  background-color: var(--primary-white-color);
  border: none;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-window:hover,
.button-close-window:focus {
  fill: var(--aceent-color);
}

.modal-inner {
  padding: 40px;
}

.modal-title {
margin-bottom: 12px;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-header-text-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-field-label {
display: inline-block;
font-size: 12px;
letter-spacing: 0.01em;
color: var(--main-p-text-color);
margin-bottom: 4px;
}

.form-field-wrapper {
position: relative;
}

.form-field-wrapper:focus-within .form-field-input {
  border-color: var(--aceent-color)
}

.form-field-wrapper:focus-within .form-field-icon {
  fill: var(--aceent-color);
}

.form-field-comment:focus-within .comment-input {
  border-color: var(--aceent-color);
}

.form-field-comment {
  margin-bottom: 20px;
}

.comment-input::placeholder {
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.form-field-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-icon {
 position: absolute;
 top: 50%;
 left: 12px;
 transform: translateY(-50%);
 transition-property: fill;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  position: absolute;
}

.check-input:checked + .check-icon {
  visibility: hidden;
}

.check-icon-complete {
  position: absolute;
  visibility: hidden;
}

.check-input:checked ~ .check-icon-complete {
  visibility: visible;
}

.check-privacy-text {
  line-height: 1.17;
  padding-left: 30px;
  margin-bottom: 30px;
}

.form-recall-button {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  background: var(--aceent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.policy-link {
  color: var(--aceent-color);
  text-decoration: underline;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}